


 /* Remove the navbar's default margin-bottom and rounded borders */
      navbar {
        background-color: black;
        color: white;
        padding: 15px;
        margin-bottom: 0;
        border-radius: 0;
      }
    
    body {
      background-color: black;
    }

      
    p {
      color: White;}
    
    c {
      color: gray;
    }
    
    f {
      color: black
    }
  


